.game-screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-screen__field {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../assets/sprites/background/game-field.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

